* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #182516d7;
    color: #D8D2E1;
}
/*------------------ CABEÇALHO ------------------*/
.header {
    /* background-color: #031300; */
    background-color: rgba(0, 0, 0, 0.315);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: first baseline;
    float: none;
    z-index: 10;
    width: 100%;
    height: 75px;
}

#imgheader {
    border-radius: 50%;
    width: 55px;
    margin: 5px 50px 5px 2px;
}

.menu {
    display: flex;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    gap: 100px;
    line-height: 75px;
}

.menu-item {
    align-items: baseline;
}

a:link, a:visited {
    color: white;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #010500a6;
  }

/*------------------ MAIN ------------------*/
.conteudo {
    margin-bottom: 50px;
}

.conteudo-principal1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#content-img {
    border-radius: 50% 50%;
    margin-top: 130px;
    margin-bottom: 132px;
    box-shadow: 0.2px 0.2px 6px #010500a6;
}

.conteudo-principal2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

.conteudo-principal2-title {
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 150;
    letter-spacing: 0.4em;
    text-shadow: 3px 3px 7px #020a00;
    
}

.conteudo-principal2-subtitle {
    font-family: sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-shadow: 3px 3px 7px #020a00;
}

/*MAIN sections */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 132px;
}

.section-title {
    font-size: 2.5em;
    border-top: 1.2px solid #031300;
    padding: 16px 96px 16px;
    font-weight: 100;
}

.section-item-hero {
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.section-item {
    font-style: italic;
}

/* FOOTER (rodapé) */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    border-radius: 4% 4% 0 0;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    text-align: center;
    flex-direction: row;
    align-items: center;
    display:inline-flex;
    justify-content: space-evenly;
}

.div-insta {
    margin-left: 200px;
}

/* ------- FALTA LINKAR OS RODAPÉS!!! ----------- */
